// greys
$bg-grey: #d3d3d3;
$shadow-grey: #333333;
$over-grey: #ededed;

// blues
$hover-blue: #2b5175;
$nav-blue: #0053a0;

// rating colors
//// comfort
$rc-1: #000000;
$rc-2: #000000;
$rc-3: #000000;
$rc-4: #000000;
$rc-5: #000000;

//// variance
$rv-1: #000000;
$rv-2: #000000;
$rv-3: #000000;
$rv-4: #000000;
$rv-5: #000000;
