#admin-button {
  padding-right: 4em;
  background: $nav-blue;

}

#admin-title {
  color: red;
}

.button_to {
  display:inline;
}

#admin-page {
  background-color: white;
  background-size: contain;
}
