#form-body {
  background-color: white;
  background-size: contain;
}

.submit-new {
  background-color: white;
  background-position: center;
  color: white;
  font-size: 4em;
  font-family: $fonts-serif;
  padding: 110px;
  height: 300px;
  margin-top: -5px;
  text-align: center;
  background-image: url(https://cdn.fstoppers.com/styles/full/s3/media/2015/12/lesson-14-hong-kong-victoria-peak-blend-after.jpg);
}


#name-field {
  display:inline-block;
  margin-left: 2%;
  margin-right: 2%;
  width: 65%;
  font-family: $fonts-serif;
}

#state-field {
  display:inline-block;
  margin-left: 2%;
  width: 20%;
  font-family: $fonts-serif;
}

#description-field {
  margin-left: 2%;
  margin-right: 2%;
  width: 90%;
  font-family: $fonts-serif;
}

#banner-field {
  margin-left: 2%;
}

#new-city-button {
  margin-left: 2%;
}
// text fields
#city_city_name {
}

#city_state {
}

#city_description {
  height: 8em;
}


//labels
#name-label {
  font-family: $fonts-serif;
}
