#form-body {
  background-color: white;
  background-size: contain;
}

.submit-new {
  background-color: white;
  background-position: center;
  color: white;
  font-size: 50px;
  font-family: $fonts-serif;
  padding: 120px;
  height: 300px;
  text-align: center;
  background-image: url(https://cdn.fstoppers.com/styles/full/s3/media/2015/12/lesson-14-hong-kong-victoria-peak-blend-after.jpg);
}
